.clear	{
	clear: both
}
.header {
    background: rgba(0,0,0, .85)
}

.container > a {
    color: grey
}
body {
    background: rgba(0,0,0, .50)
}

.sn_plot   {
    float:left;
}

.sn_data {
    vertical-align: top;
}
.content {
    width: 90%;
    margin-left: 5%;
    padding-left: 2%;
    height: 100%;
    border: 4px double black;
    }
.table_data{
    border: 1px solid black;
    cell-spaceing: 10px;
}
.td_parent{
    width: 400px;
}
.table_data td, thead {
    width: 100px;
    border: 1px solid black;
    text-align: center;
}
.file_upload > td {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font: 14pt bold;
    color: #bbb;
}