.clear	{
	clear: both
}

.input {
    width: 60%;
    padding-left: 10%
    margin-top: top;
}

.header {
    background: rgba(0,0,0, .85)
}

.container > a {
    color: grey
}
body {
    background: rgba(0,0,0, .50)
}

.sn_plot   {
    float:left;
}

img {
    width:100%
}
.results > td {
    width:40%;
    padding-left: 10%;
    vertical-align: top;
}
form {
padding-left: 10%
}
.out {
    padding-left: 10%;
    vertical-align: top;
}
