<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.0-dist/css/bootstrap.css')}}">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython.min.js">
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.9/brython_stdlib.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body onload="brython()">
<div class="header">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/" aria-label="Product">
          <img src="{{ url_for('static', filename='lbl.png')}}" height="35" width="35">
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/">Главная страница</a>
        <a class="py-2 d-none d-md-inline-block" href="/sncurve_front">Кривая усталости</a>
          <a class="py-2 d-none d-md-inline-block" href="/resources">Ресурсы</a>
        <a class="py-2 d-none d-md-inline-block" href="#"></a>
      </div>
</div>
<table class="content" >
    <tr>
        <td class="content">
        {% block body %}{% endblock %}
        </td>
    </tr>
</table>
</body>
</html>