<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.0-dist/css/bootstrap.css')}}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="header">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/" aria-label="Product">
          <img src="{{ url_for('static', filename='lbl.png')}}" height="35" width="35">
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/">Главная страница</a>
        <a class="py-2 d-none d-md-inline-block" href="/sncurve">Кривая усталости</a>
        <a class="py-2 d-none d-md-inline-block" href="#"></a>
      </div>
</div>
    {% block body %}{% endblock %}
</body>
</html>